<div class="col-4">
  <h2 class="text-box-title">Do you love scrabble?</h2>
  <p class="text-box-intri">
    This is just some placeholder text about scrabble I've never played it
    before... apparently there is a co-operative version of the game now?
  </p>
</div>
<div class="col-4">
  <h3 class="call-us">Call us</h3>
  <!-- <img class="phone-icon" src="" alt="phone-icon-image" /> -->
  <p class="opening-time">We are available by phone 9am-5pm</p>
  <p class="phone-number">0115 123 4567</p>
</div>
<div class="col-4">
  <h3 class="find-us">Find us</h3>
  <!-- <img class="location-icon" src="" alt="location-icon-image" /> -->
  <p class="address">123 Fake Street, Somewhere, Nottingham, NG1 2TR</p>
  <p class="map-link">Open in maps</p>
</div>
<!-- with more knowledge now in future I would seperate this section into individual components as its easier to organise & amend -->
